/dev/block/by-name/miscdata       0660     system      system
/dev/block/by-name/persist       0660     system      system
/dev/block/by-name/sysdumpdb        0660     system     system



on post-fs
    exec /system/bin/copy_cache_to_sd.sh
    setenforce 0


service adbd /sbin/adbd recovery
    class core
    user root
    group root system shell log readproc
    seclabel u:r:adbd:s0
    disabled
    oneshot

service fastbootd /system/bin/fastbootd
    class main
    user root
    group root system
    seclabel u:r:fastbootd:s0
    oneshot